body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

h1 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.loge-true {
    background-color: #2ecc71;
}

.loge-false {
    background-color: #c82333;
}

th {
    background-color: #333;
    color: white;
}


tr:hover {
    background-color: #ddd;
}

.btn {
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
}

.btn-edit {
    background-color: #28a745;
    color: white;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Style général des boutons */
.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

/* Effet hover */
.btn-orga:hover {
    background-color: #4e0877;
}

.btn-orga {
    background-color: purple;
}

/* Boutons actifs (filtre sélectionné) */
.btn-active {
    background-color: #2ecc71;
    font-weight: bold;
}

/* Boutons de tri */
.btn-sort {
    background-color: #f39c12;
}

.btn-sort:hover {
    background-color: #e67e22;
}

.btn-sans {
    background-color: #28a745;
}

.btn-sans:hover {
    background-color: #218838;
}

/* Conteneur des boutons */
.filters {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btn-search {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-search:hover {
    background-color: #0056b3;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}