{% extends 'base.html' %}
{% load static %}
{%  block css %}
<link rel="stylesheet" type="text/css"  href="{% static 'css/ajout.css' %}">
{%  endblock %}
{% block content %}
    <div class="container">
        <h1>Modifier un Logement</h1>

        <form method="POST" class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Modifier</button>
        </form>

        <br>
        <a href="{% url 'home_logement' %}" class="back-link">Retour à la liste des logements</a>
    </div>
{% endblock %}